@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: local('Inter'), url(inter/Inter-Light.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: local('Inter'), url(inter/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: local('Inter'), url(inter/Inter-Medium.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: local('Inter'), url(inter/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: local('Inter'), url(inter/Inter-Bold.ttf);
}
